<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Report</title>
</head>
<body>

    <h1>Student Report Card</h1>
    <p>Name: <%= student.name %></p>
    <p>Roll_no: <%= student.roll_no %></p>
    <p>Branch: <%= student.branch %></p>
    <p>Year: <%= student.year %></p>

</body>
</html>